@charset "UTF-8";
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 10%;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-list-item:nth-child(5) {
  margin-right: 50px;
}

.header-link-pinkbtn {
  display: block;
  color: #fff;
  background-color: #E37AB0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
}

.header-link-bluebtn {
  display: block;
  color: #fff;
  background-color: #6F99E3;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
}

.header-nav-list-item {
  margin-right: 10px;
}

.firstview-bg-img {
  width: 100%;
}

.firstview-container {
  padding: 2%;
  background-image: url(..img/fv__bg-pc.svg);
  background-size: auto;
  display: flex;
  width: 90%;
  margin: auto;
}

.firstview-container-desc {
  margin: 2%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstview-container-desc-main {
  font-size: 2em;
  margin-bottom: 5%;
}

.firstview-container-desc-sub {
  margin-bottom: 5%;
}

.firstview-container-desc-link {
  display: block;
  background-color: #E37AB0;
  color: #fff;
  width: 70%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
}

.firstview-container-desc-sp-img {
  display: none;
}

.firstview-container-main-img {
  width: 30%;
}

.firstview-desc-main {
  font-size: 2rem;
}

.about {
  background-color: #FFF7FB;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.about-img {
  margin: 5% 0;
  width: 45%;
}

.about-desc {
  font-size: 1.5em;
  margin-right: 5%;
  width: 45%;
  line-height: 100%;
}

.trouble {
  padding: 5% 0;
  width: 80%;
  margin: auto;
}

.trouble-catch {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
}

.trouble-flex {
  display: flex;
  justify-content: center;
}

.trouble-flex-container:not(:last-child) {
  margin-right: 5%;
}

.trouble-flex-container-sp {
  display: none;
}

.trouble-flex-container-pc {
  display: block;
  margin-right: 5%;
}

.trouble-flex-container-desc {
  margin-top: 10%;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}

.solution {
  align-items: baseline;
  padding: 5%;
  background-color: #FFF7FB;
}

.solution-catch {
  font-size: 1.5em;
  text-align: center;
  padding: 3%;
}

.solution-container {
  padding-bottom: 5%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.solution-container-img, .solution-container-img-pc {
  width: 40%;
}

.solution-container-img-sp {
  display: none;
}

.solution-container-desc {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.solution-container-desc-flex {
  display: flex;
  margin-bottom: 5%;
}

.solution-container-desc-flex-n {
  font-size: 2em;
  color: #E37AB0;
  height: 50px;
  line-height: 50px;
  margin-right: 2%;
}

.solution-container-desc-flex-title {
  font-size: 1.3em;
}

.feature {
  padding: 5% 0;
}

.feature-catch {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
}

.feature-icons {
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 5%;
}

.feature-icons-container {
  text-align: center;
  padding: 3%;
  border: 1px #E37AB0 solid;
  box-shadow: 0 0 5px #E37AB0;
  border-radius: 20px;
}

.feature-icons-container-item-img {
  width: 100%;
  margin-bottom: 20%;
}

.feature-icons-container-item-desc {
  width: 100%;
}

.feature-icons-container:not(:last-child) {
  margin-right: 2%;
}

.links {
  padding: 5%;
  background-color: #E37AB0;
}

.links-catch {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
  font-weight: normal;
}

.links-btns {
  display: flex;
  justify-content: center;
}

.links-btns-blue {
  color: #fff;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #6F99E3;
  text-align: center;
  border-radius: 30px;
  margin-right: 5%;
}

.links-btns-white {
  color: #E37AB0;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
}

.company {
  padding: 5% 0;
  width: 100%;
}

.company-catch {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
}

.company-flex {
  width: 100%;
  display: flex;
}

.company-flex-container {
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 0 5px #eee;
}

.company-flex-container-item {
  padding: 5%;
}

.company-flex-container-item-p {
  font-size: 0.8em;
  margin: 10% 0;
}

.company-flex-container-item-desc {
  font-weight: bold;
  margin-bottom: 10%;
}

.company-flex-container-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.company-flex-container-rect {
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  padding: 0.5%;
  border: 1px solid #E37AB0;
}

.company-flex-container-sp {
  display: none;
}

.company-flex-container:not(:last-child) {
  margin-right: 2%;
}

.plans {
  margin: auto;
}

.plans-table {
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.plans-table-title-free, .plans-table-title-middle, .plans-table-title-premium {
  font-size: 1.5em;
  border-radius: 20px 20px 0 0;
}

.plans-table-title-free, .plans-table-title-premium {
  color: #fff;
  background-color: #6F99E3;
  padding: 5%;
}

.plans-table-title-free-s, .plans-table-title-free-p, .plans-table-title-premium-s, .plans-table-title-premium-p {
  display: block;
  font-size: 0.5em;
  margin-bottom: 3%;
}

.plans-table-title-middle {
  color: #fff;
  background-color: #E37AB0;
}

.plans-table-title-middle::after, .plans-table-title-premium::after {
  content: "/月";
  font-size: .8em;
}

.plans-table-desc {
  padding: 5%;
}

.plans-table-desc-list {
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-bottom: 8%;
}

.plans-catch {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
}

.plans-table-btn {
  display: block;
  background-color: #e8e8e8;
  width: 80%;
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 5%;
}

.questions {
  padding: 5% 0;
  width: 80%;
  margin: auto;
}

.questions-catch {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 3%;
}

.questions-box {
  color: #E37AB0;
  font-weight: bold;
  width: 100%;
  padding: 2%;
  border: 1px solid #E37AB0;
  border-radius: 10px;
  margin-bottom: 5%;
}

.questions-title {
  color: #E37AB0;
}

.questions-answer {
  width: 90%;
  margin: auto;
}

.questions-answer-container {
  display: flex;
  margin-bottom: 5%;
}

.questions-answer-container-a {
  color: #6F99E3;
  margin: 2%;
}

.footer {
  background-color: #FFF7FB;
  padding: 5% 0 0 0;
}

.footer-logo {
  margin-right: 10%;
}

.footer-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.footer-flex-list {
  margin-right: 10%;
}

.footer-copyright {
  background-color: #FFF7FB;
  margin-bottom: 5%;
  text-align: center;
}

.header-sp {
  display: none;
}

@media screen and (max-width: 812px) {
  .header {
    display: none;
  }
  .header-sp {
    display: block;
    padding: 5%;
  }
  .firstview {
    background-image: url(..img/fv__sp-pc);
    background-size: cover;
  }
  .firstview-container {
    flex-direction: column;
  }
  .firstview-container-desc {
    width: 95%;
    margin: auto;
  }
  .firstview-container-desc-main {
    font-size: 2.5em;
  }
  .firstview-container-desc-sub {
    width: 100%;
    font-size: 1.2em;
  }
  .firstview-container-desc-sp-img {
    display: block;
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
  }
  .firstview-container-desc-link {
    width: 100%;
    margin: auto;
    height: 4em;
    line-height: 4em;
    margin-bottom: 5%;
  }
  .firstview-main-img {
    display: none;
  }
  .about {
    flex-direction: column-reverse;
    padding: 20% 0;
  }
  .about-img {
    width: 90%;
  }
  .about-desc {
    width: 80%;
    margin: auto;
  }
  .trouble-catch {
    text-align: center;
    margin: 15% 3%;
  }
  .trouble-flex {
    display: block;
  }
  .trouble-flex-container {
    display: flex;
  }
  .trouble-flex-container-img {
    width: 45%;
  }
  .trouble-flex-container-pc {
    display: none;
  }
  .trouble-flex-container-desc {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    text-align: start;
    margin-left: 5%;
  }
  .trouble-flex-container-sp {
    display: block;
    display: flex;
  }
  .solution {
    padding: 10%;
  }
  .solution-catch {
    margin: 15% auto;
    font-size: 2em;
  }
  .solution-container {
    display: block;
  }
  .solution-container-desc {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10%;
  }
  .solution-container-desc-flex {
    display: block;
  }
  .solution-container-img {
    width: 100%;
  }
  .solution-container-img-sp {
    display: block;
    width: 100%;
  }
  .solution-container-img-pc {
    display: none;
  }
  .feature-catch {
    margin: 20%;
  }
  .feature-main {
    flex-direction: column;
  }
  .feature-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature-icons-container {
    width: 35%;
    justify-content: center;
    margin-bottom: 5%;
  }
  .feature-icons-container-item-img {
    margin-bottom: 5%;
  }
  .feature-icons-container-item-desc {
    font-size: 1.2em;
    font-weight: bold;
  }
  .links-catch {
    margin: 5% 0;
  }
  .links-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links-btns-blue {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5%;
  }
  .links-btns-white {
    width: 100%;
  }
  .company {
    padding: 5% 0;
    width: 100%;
  }
  .company-catch {
    font-size: 1.5em;
    text-align: center;
    padding: 20%;
  }
  .company-flex {
    margin-left: 3%;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }
  .company-flex-container {
    position: relative;
    border: 1px solid #eee;
    border-radius: 20px;
  }
  .company-flex-container-item-p {
    font-size: 1.2em;
  }
  .company-flex-container-item-desc {
    width: 100%;
    font-size: 1.5em;
    padding: 0;
  }
  .company-flex-container-img {
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .company-flex-container-rect {
    position: absolute;
    bottom: 50%;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    padding: 0.5%;
    border: 1px solid #E37AB0;
  }
  .plans-catch {
    margin: 10%;
  }
  .questions-catch {
    margin: 15%;
  }
  .questions-box {
    padding: 5%;
  }
  .trial-catch {
    margin-bottom: 5%;
  }
  .trial-links {
    flex-direction: column;
    align-items: center;
  }
  .trial-links-bluebtn {
    margin-right: 0;
    width: 80%;
    margin-bottom: 5%;
  }
  .trial-links-whitebtn {
    width: 80%;
  }
  .footer-logo {
    margin-bottom: 3%;
    margin-left: -10%;
  }
  .footer-flex {
    flex-direction: column;
    margin-left: 20%;
  }
  .footer-flex-list, .footer-flex-list2 {
    line-height: 2.5em;
  }
}
