body {
  max-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  width: 10%;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-link-btn {
  display: block;
  background-color: #E37AB0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}
.header-nav-list-item {
  margin-right: 3%;
}

.main-firstview-bg-img {
  width: 100%;
}
.main-firstview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
}
.main-firstview-main-img {
  width: 45%;
}
.main-firstview-desc {
  width: 45%;
}
.main-firstview-desc-main {
  font-size: 2rem;
}
.main-firstview-link {
  display: block;
  color: #fff;
  background-color: #E37AB0;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
}

.about {
  background-color: #FFF7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-img {
  width: 45%;
}
.about-desc {
  width: 45%;
  line-height: 100%;
}

.trouble {
  width: 80%;
  margin: auto;
}
.trouble-catch {
  text-align: center;
}
.trouble-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trouble-container:not(:last-child) {
  margin-right: 5%;
}
.trouble-container-desc {
  text-align: center;
  font-weight: bold;
}

.solution {
  width: 100%;
  background-color: #FFF7FB;
}
.solution-catch {
  text-align: center;
}
.solution-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.solution-container-desc {
  width: 40%;
}
.solution-container-img {
  width: 40%;
}

.feature {
  width: 100%;
}
.feature-catch {
  text-align: center;
}
.feature-icons {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature-icons-container {
  text-align: center;
  border: 1px #E37AB0 solid;
  -webkit-box-shadow: 5px 5px #FFF7FB;
          box-shadow: 5px 5px #FFF7FB;
  border-radius: 20px;
}
.feature-icons-container:not(:last-child) {
  margin-right: 2%;
}
.feature-main {
  width: 100%;
  padding: 5%;
  background-color: #E37AB0;
}
.feature-main-catch {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.feature-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature-links-btn1 {
  color: #fff;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #6F99E3;
  text-align: center;
  border-radius: 30px;
  margin-right: 5%;
}
.feature-links-btn2 {
  color: #E37AB0;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
}

.company {
  width: 100%;
}
.company-catch {
  text-align: center;
}
.company-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.company-container {
  border: 1px solid #eee;
  border-radius: 20px;
}
.company-container-item {
  padding: 5%;
}
.company-container-img {
  position: relative;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.company-container-rect {
  background-color: #fff;
  padding: 0.5%;
  border: 1px solid #E37AB0;
  position: absolute;
}
.company-container-desc {
  font-weight: bold;
}
.company-container:not(:last-child) {
  margin-right: 2%;
}

.plans {
  width: 80%;
  margin: auto;
}
.plans-catch {
  text-align: center;
}
.plans-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plans-card {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 20px;
}
.plans-card-title {
  text-align: center;
  color: #fff;
  background-color: #E37AB0;
}
.plans-card-standard {
  border: 2px solid #eee;
  border-radius: 20px;
  width: 120%;
  height: 150%;
}
.plans-card-list {
  padding: 5%;
  text-align: center;
}
.plans-btn {
  margin: auto;
  font-weight: bold;
  display: block;
  background-color: #e8e8e8;
  width: 90%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
}

.questions {
  width: 80%;
  margin: auto;
}
.questions-catch {
  text-align: center;
}
.questions-box {
  color: #E37AB0;
  font-weight: bold;
  width: 100%;
  padding: 2%;
  border: 1px solid #E37AB0;
  border-radius: 10px;
}
.questions-title {
  color: #E37AB0;
}
.questions-answer {
  width: 90%;
  margin: auto;
}
.questions-answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.questions-answer-container-a {
  color: #6F99E3;
  margin: 2%;
}

.trial {
  width: 100%;
  padding: 10%;
  background-color: #E37AB0;
}
.trial-catch {
  color: #fff;
  text-align: center;
}
.trial-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trial-links-btn1 {
  color: #fff;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #6F99E3;
  text-align: center;
  border-radius: 30px;
  margin-right: 5%;
}
.trial-links-btn2 {
  color: #E37AB0;
  display: block;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
}
/*# sourceMappingURL=styles.css.map */